


body {
    background-color: #a0d1f2;
    /* background-color: #8ccdf9; */
    margin: 0;
    
}

.header {
    background-color: #a2e8b5;
    /* background-color: #8de6a6; */
    border: 5px solid #9fa4a9;
    width: 100%;
    margin: 0px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border-radius: 50%; */
}

.logo {
    width: 8rem;
    margin-right:2%;
    display: flex;
    align-self: flex-end;
}

h1 {
    display: flex;
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

    color: #15084a;
    justify-content: center;
}

h2 {
    display: flex;

    font-size: 28px;

    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;

    color: #1c0a62;
}

h3 {
    display: flex;

    font-size: 20px;

    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;

    color: #160a48;
}

h4 {
    font-size: 18px;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;
    color: #0f023f;

}

/* div {
    border: 2px solid red;
} */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/* NAVBAR */
.nav {
    background-color: #6d59b5;
    padding-right: 100px;
    margin-right: 100px;
    width: 25%;
    height: max-content;

    
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;

}

/* #spacer-container {
    border: 2px solid red;
    width: 50%;
} */

ul {
    
    background-color: #92fbf0;
    padding: 20px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    align-items: center;
    position: static;
}


li.nav-but {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    /* align-content: space-between ; */


    font-size: 16px;
    background-color: #f5f9fa;

    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

    padding: 5px;
    border: 2px solid #0f023f;
    border-radius: 30%;

    list-style-type: none;
}

li.nav-but:hover {
    /* font-size: 16px;
    background-color: #65c0fd;

    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

    padding: 5px;
   

    list-style-type: none;
    border-radius: 10%; */
    transform: scale(1.075);
    transition: all 0.5s ease;
}
a:visited {
    color: #cc15e0;
}



.content {
    margin-left: 20px;
    height: fit-content;
}

.info-img{
    width: 40%;
    height: 50%;
    justify-content: center;
    padding: 20px;
}

.info-img2{
    width: 90%;
    height: 50%;
    justify-content: center;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poster {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-self: center;
}


.container {
display: flex;
justify-content: space-around;
}



.news-p-container {
    border: white 2px solid;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
}

.qr-code {
    width: 8rem;
    height: 8rem;
}

.header-container-imgs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 2rem;
    }